.sidebar{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  transition: width .05s;
}
@media (min-width:1200px){
  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 182px;
    z-index: 200;
    padding-top: 5px;
  }
}
.sidebar-link{
  display: flex;
  flex-direction: column;
  height: 74px;
  margin-bottom: 1px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 1200px){
.sidebar-link{
  flex-direction: row;
  justify-content: left;
  height: 40px;
  column-gap: 10px;
}

}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px;
}

@media (min-width: 1200px){
  .sidebar-link img{
    height: 28px;
    margin-bottom: 5px;
  }
  }
  

.sidebar-link div{
  font-size: 10px;
}

@media (min-width: 1200px){
  .sidebar-link div{
    font-size: 14px;
  }
  }
